/*ESTILOS LOGIN Y REGISTRO*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    border: 0;
    margin: 0;
    padding: 0;       
}

:root{

    --dark-color:#191919;
    --white-color:#FFFFFF;
    --light-grey-color:#EAEAEA;
    --yellow-color:#FECE00;
    --blue-color:#283071;
    --blue-color:#2196d0;
    --orange-color: #d18321; 
    --gray-color:#F2F3F2;
    --dark-gray:#8F98B3;
}

body{

    background-size: 100%;	
}

.register{	
    margin: 40px auto;
    padding: 40px;	
    background:#F2F3F2;
    border-radius:30px;	
    /*min-height: 600px;*/	
    height: 100%;    
    max-width: 576px;
    box-shadow: 5px 5px 5px #8F98B3;		    
}

.register h2{
    color: #2196d0;
    margin-bottom: 30px;
}

.register p{
    margin-bottom: 30px;
}

.register label{   	
    padding: 20px;   	
    align-items: center;
    margin-left: 40px;
}

.register input{	       
    padding: 10px;
    font-size: 16px;	
    background: #ffffff;
    border-radius: 20px;
    border: none;	    
}

.register .submit{	
    padding: 10px;
    font-size: 16px;		         
    background: #2196d0;
    color: #ffffff;    
    cursor: pointer;   
    height: auto;
    border-radius: 20px;
    display: block;
    margin: 40px auto;    

}

.register input:active,
.register input:focus{
    outline: none;
}   

#fcon{	
    margin: 20px;
    height: 120px;
    background-color: var(--blue-color);
    max-width: 576px; 
    margin: 20px auto;
    border-radius:30px;
}

#fcon .zcon{	
    margin: 20px;
    float: left;		
}

.zcon p{	
    color: var(--white-color);	
    text-align: left;
    margin: auto;	
}

#fcon .imgSocial{	
    float: right;
    padding: 20px;
}

#fcred{
    text-align: center;	
}

.selector-for-some-widget {
    box-sizing: content-box;
}
